[submodule "lib/sflib"]
  path = lib/sflib
  url = https://github.com/snu-sf/sflib.git
[submodule "lib/paco"]
  path = lib/paco
  url = https://github.com/snu-sf/paco.git
[submodule "lib/hahn"]
  path = lib/hahn
  url = https://github.com/vafeiadis/hahn.git
